**/.DS_Store
**/Thumbs.db
**/.directory
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.Python
**/build/
**/develop-eggs/
**/dist/
**/downloads/
**/eggs/
**/.eggs/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/.installed.cfg
**/*.egg
**/MANIFEST
**/.venv/
**/venv/
**/ENV/
**/env/
**/.env
**/.Rhistory
**/.Rapp.history
**/.RData
**/.Ruserdata
**/*.[R|r]data
**/*.Rproj
**/.Rproj.user/
**/.Renviron
**/*.buildresult
**/*.pks
**/renv/library/
**/renv/local/
**/renv/staging/
**/revdep/
**/.Rlibs/
**/*.o
**/*.so
**/.ipynb_checkpoints
**/*_files/
**/*.cache
**/.ruff_cache/
**/.mypy_cache/
**/.pytest_cache/
**/*.log
**/*.sql
**/*.sqlite
.Rproj.user
